<aside class="bike-form-details">
  <h2 class="bike-form-details">Details</h2>
  <div class="form-group">
  <select class="form-control" placeholder="Make">
    <option selected disabled>Make</option>
    <option>Agece</option>
    <option>Airborne </option>
    <option>Alex Moultan</option>
    <option>Atlantic</option>
    <option>Atlas </option>
    <option>Avanti</option>
    <option>Be One</option>
    <option>Bianchi</option>
    <option>Boulder</option>
    <option>Breezer </option>
    <option>Burleyand</option>
    <option>Cannondale </option>
    <option>Carraro Cicli</option>
    <option>Cas</option>
    <option>CCM </option>
    <option>Cervelo</option>
    <option>CyclArt </option>
    <option>Dawes </option>
    <option>Demonchaux </option>
    <option>Diamondback</option>
    <option>Dynacraft</option>
    <option>Dynamic</option>
    <option>Eddy Merckx </option>
    <option>Fuji</option>
    <option>3G</option>
    <option>Gameida</option>
    <option>Giant</option>
    <option>GiantAustralia </option>
    <option>Golden Cycle</option>
    <option>GT</option>
    <option>Handy</option>
    <option>HT-Trading </option>
    <option>Huffy</option>
    <option>Ideal</option>
    <option>Jamis</option>
    <option>Kent</option>
    <option>KHS</option>
    <option>Klein </option>
    <option>Leader</option>
    <option>Lee Cougan </option>
    <option>Lenz Sport </option>
    <option>Marin </option>
    <option>Mercian </option>
    <option>Merlin</option>
    <option>Mission</option>
    <option>Monoc </option>
    <option>Montague</option>
    <option>Moots </option>
    <option>Mrazek </option>
    <option>Norco </option>
    <option>Nova</option>
    <option>Orient</option>
    <option>Oyama</option>
    <option>Pacific Cycle </option>
    <option>Par</option>
    <option>Paul Hewitt </option>
    <option>Pegasus</option>
    <option>Pine Wide </option>
    <option>Planet X Mountain</option>
    <option>Quintana Roo </option>
    <option>Raleigh</option>
    <option>Reynolds</option>
    <option>Ridley </option>
    <option>Ritchey Design </option>
    <option>Ritte Van Vlaaderen </option>
    <option>Roading International </option>
    <option>Safari</option>
    <option>Salsa </option>
    <option>Santa Cruz</option>
    <option>Schwinn </option>
    <option>Senan</option>
    <option>Seven </option>
    <option>24sevenbikes</option>
    <option>Shrapnell-Giacomelli </option>
    <option>Sintesi</option>
    <option>SOMA</option>
    <option>Specialized </option>
    <option>Surly</option>
    <option>Swxng</option>
    <option>Tiger </option>
    <option>Titus Titanium </option>
    <option>TPT China </option>
    <option>Trek</option>
    <option>Trikes</option>
    <option>Turner </option>
    <option>Van Dessel Sports </option>
    <option>Vanguard Titanium Bicycle Frames </option>
    <option>Vuelta USA </option>
    <option>Wheeler</option>
    <option>Youn Live Industry </option>
  </select>

  <select class="form-control" placeholder="Model">
    <option selected disabled>Model</option>
    <option>1x1</option>
    <option>Steamroller</option>
    <option>Pacer</option>
    <option>Cross-Check</option>
    <option>Cross-Check SS</option>
    <option>Straggler</option>
    <option>Long Haul Trucker</option>
    <option>Disc Trucker</option>
    <option>Trucker Deluxe</option>
    <option>Troll</option>
    <option>Karate Monkey</option>
    <option>Ogre</option>
    <option>Krampus</option>
    <option>Moonlander</option>
    <option>Conundrum</option>
    <option>Instigator</option>
    <option>Travellers Check</option>
    <option>Defy Advanced SL </option>
    <option>Defy Composite</option>
    <option>Defy</option>
    <option>Omnium </option>
    <option>Propel Advanced</option>
    <option>Propel Advanced SL </option>
    <option>TCR</option>
    <option>TCR 2R </option>
    <option>TCR Advanced</option>
    <option>TCR Advanced c1 SL </option>
    <option>TCR Composite</option>
    <option>TCR SLR</option>
    <option>Trinity Advanced</option>
    <option>Trinity Advanced SL </option>
    <option>Revolt </option>
    <option>TCX Advanced</option>
    <option>TCX SLR</option>
    <option>Anthem Advanced</option>
    <option>Anthem X</option>
    <option>Anthem X Advanced</option>
    <option>Anthem</option>
    <option>Brass</option>
    <option>Faith</option>
    <option>Glory</option>
    <option>Iguana</option>
    <option>Reign</option>
    <option>Reign X</option>
    <option>Revel</option>
    <option>Rincon</option>
    <option>Stance</option>
    <option>STP</option>
    <option>Talon</option>
    <option>Trance Advanced</option>
    <option>Trance SX</option>
    <option>Trance X</option>
    <option>Trance</option>
    <option>XTC</option>
    <option>XTC Advanced SL</option>
    <option>XTC Advanced</option>
    <option>Yukon</option>
    <option>Yukon FX</option>
    <option>Anyroad</option>
    <option>ARX</option>
    <option>ATX</option>
    <option>Great Journey</option>
    <option>Rapid</option>
    <option>Roam</option>
    <option>Sedona</option>
    <option>Snap</option>
    <option>Tran Send</option>
    <option>Chiron</option>
    <option>Cypress</option>
    <option>Escape</option>
    <option>Rapid</option>
    <option>Seek</option>
    <option>Suede</option>
    <option>Via</option>
    <option>Simple Single</option>
    <option>Simple Seven</option>
    <option>Animator</option>
    <option>Bella</option>
    <option>bumper</option>
    <option>Gloss</option>
    <option>jelapusy</option>
    <option>legityo</option>
    <option>Moda</option>
    <option>munchkin</option>
    <option>Pudd'n</option>
    <option>XTC jr</option>
  </select>

  <select class="form-control" placeholder="Year">
    <option selected disabled>Year</option>
    <option>2016</option>
    <option>2015</option>
    <option>2014</option>
    <option>2013</option>
    <option>2012</option>
    <option>2011</option>
    <option>2010</option>
    <option>2009</option>
    <option>2008</option>
    <option>2007</option>
    <option>2006</option>
    <option>2005</option>
    <option>2004</option>
    <option>2003</option>
    <option>2002</option>
    <option>2001</option>
    <option>2000</option>
    <option>1999</option>
    <option>1998</option>
    <option>1997</option>
    <option>1996</option>
    <option>1995</option>
    <option>1994</option>
    <option>1993</option>
    <option>1992</option>
    <option>1991</option>
    <option>1990</option>
  </select>
</div>

<div class="form-rates">
$<input type="text" class="form-control rates" placeholder="Day Rate">/Day</div>


<div id="slider"></div>
<div class="form-rates">
$<input type="text" class="form-control rates" placeholder="Hour Rate">/Hour</div>

<a href="#bikes/new" id="upload_widget_opener">
  <div class="file-upload">
    Upload Bike image
    <div class="bike-thumbnail">
      <img class="bike-image" src="<%= bikeIcon %>"/>
    </div>
  </div>
</a>

</aside>

<main class="bike-form-details">
  <h2 class="bike-form-description">Description</h2>
  <p>Tell renters why your bike is cool. Do you have an amazing frame?
    Is your bike perfect for touring? Will it travel through time if it hits
    30 MPH? This is your chance to share why you love your bike.</p>
  <textarea class="form-control" rows="5"></textarea>

  <h2 class="bike-form-description">Location</h2>

  <div class="bike-form-location-inputs">
    <div class="address">
      <label for="street-address" id="autocomplete" class="bike-form-location">Street Address</label>
      <input type="text" class="form-control address" value="" id="street-address">
    </div>

    <div class="zip">
      <label for="zip" class="bike-form-location">zip</label>
      <input type="text" class="form-control zip" value="" id="zip">
    </div>
  </div>
  <p> Provide an exact address where renters can pick up your bike.</p>
  <div class="map bike-form"></div>
  <input type="submit" value="Save bike" class="btn save-bike-button">
</main>
