
<div class="jumbotron">
  <center>
    <img src="<%= icon %>" />
    <h1><b>It Just Does!</b></h1>
    <a href="/" class="bike-search-rentals-show">Fair enough<br><font size="2">(back to search)</font></a>
  </center>
</div>
