<%= render "shared/header" %>

<div class="jumbotron">
  <center>
    <img src="<%= asset_path('bike-icon.png') %>" />
    <h1><b>It Just Does!</b></h1>
    <a href="/" class="bike-search-rentals-show">Fair enough<br><font size="2">(back to login)</font></a>
  </center>
</div>
