<nav class="navbar navbar-default" role="navigation">
<div class="container container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle"
      data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/session/new">
      <i class="fa fa-spinner fa-lg"></i>
      <span class="logo-font">Take A Spin</span></a>

  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/tour">How it works <span class="sr-only"></span></a></li>
        <li> <%= link_to new_session_url do  %>
            Join <i class="fa fa-circle"></i> Login
        </li>
      <% end %>
    </ul>
  </div>
</div>
</nav>

<% if flash[:errors] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert">
       <span class="sr-only">Close</span></button>
          <%= flash[:errors].join("<br>").html_safe %>
  </div>
<% end %>

<style>
body {
    background: url('<%= image_path 'sign-in.JPG' %>') no-repeat fixed;
    background-size: 100%;
}
</style>
