<!DOCTYPE html>
<html>
<head>
<style>
body {
    background: #C8C8C8 url('http://mashido.com/wp-content/uploads/2009/12/aristotle_build_06_image.jpg') no-repeat center fixed;
}

html {
  font-family: "Courier New", Courier, monospace
}

</style>
</head>
<body>

<h1><center>On A Stroll</center></h1>
<p><center>Come back soon!</center></p>

</body>
</html>
