<div class="search-form col-md-4">

  <div class="locate-icon icon fa fa-map-marker" title="" data-original-title="Use your current location"></div>
  <input class="search-input form-control location-input" type="text" name="" value="" placeholder="Enter street address">


  <div class="date-view"></div>

  <div class="filter-divider">
    <button class="btn filter-button pull-right">Filters</button>
  </div>

  <div class="filter-bottom-divider"></div>

</div>
