<center><img class="empty rental-bike-icon" src=<%= icon %>/>
<h1 class="empty upcoming">You have no upcoming trips!</h1>
<a href="/" class="empty bike-search-rentals-show">Search for bikes</a>

<div class="rental-show"></div>
</center>
